@import '../variables';
#container{
    display: flex;
    flex-direction: column;
    width: auto;
    squid-helpers {            
        color: var(--color-alert-error,$color-alert-error);
    }
    .label-wrapper{
        display: flex;
        justify-content: space-between;
        color: var(--font-color-default,$color-neutral-30);
        font-size: $font-size-xs;
        opacity: .9;
        letter-spacing: .5px;
        margin-bottom: var(--space-inset-xs,$space-inset-xs);
        position: relative;
        vertical-align: middle; 
    }
    label {
       text-transform: capitalize;
    }
    textarea {
        border-radius: var(--radius-default,$size-xs);
        background-image: none;
        box-shadow: none;
        font-size: $font-size-default;
        height: fit-content;
        line-height: 1.5;
        margin: 0;
        padding: var(--padding-default,$size-s);
        border: 2px solid var(--font-color-default,$color-neutral-60);
        width: fit-content;
        &:disabled {
            cursor: not-allowed;
        }
        &:read-only {
            cursor: not-allowed;
        }
        &.textfield__input--error{
            border: 2px solid var(--color-alert-error,$color-alert-error);
        }
    }
}