@import "../variables";
.hero-numbers {
    color: $color-neutral-10;
    line-height: 1;
    padding: 0;
    font-feature-settings: "pnum";
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: $size-xl;
    &.center{
        justify-content: center;
    }
    &.small {
        font-size: $size-l;
      }
  }
.hero-label {
    order: 3;
    padding: 0;
    text-transform: uppercase;
    font-size: $font-size-s;
    line-height: 1.5em;
    margin: 0;
    letter-spacing: 0.05em;
    &.center{
        text-align: center;
    }
    &.small {
        font-size: $font-size-xs;
        line-height: 1.5em;
    }
}
:host {
    display: block;
}