@import "../variables";

.header {
    display: flex;
    flex-direction: row-reverse;
    button {
        border: none;
        font-size: 1.25rem;
        color: rgba(72, 71, 71, 0.75);
        cursor: pointer;
        background: transparent;
    }
}
