@import '../variables';

.container{
    &[radius="2"]{
        border-radius:$size-xxs;
    }
    &[radius="4"]{
        border-radius:$size-xs;
    }
    &[padding="tiny"]{
        padding:$size-s;
    }
    &[padding="small"]{
        padding:$size-m;
    }
    &[padding="normal"]{
        padding: 24px;
    }
    &[padding="medium"]{
        padding:$size-l;
    }
    &[padding="large"]{
        padding: 48px;
    }
    &[padding="xlarge"]{
        padding: $size-xl;
    }
    &[padding="xxlarge"]{
        padding: 96px;
    }
    &[margin="tiny"]{
        margin:$size-s;
    }
    &[margin="small"]{
        margin:$size-m;
    }
    &[margin="normal"]{
        margin:24px;
    }
    &[margin="medium"]{
        margin:$size-l;
    }
    &[margin="large"]{
        margin:48px;
    }
    &[margin="xlarge"]{
        margin:$size-xl;
    }
    &[margin="xxlarge"]{
        margin:96px;
    }
    &[elevation]{
        box-shadow: none;
    }
    &[elevation="1"]{
        box-shadow: 0$size-xxs$size-xs -1px rgba(0,0,0,.2), 0$size-xs 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }
    &[elevation="2"]{
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px$size-xxs rgba(0,0,0,.12);
    }
    &[elevation="3"]{
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px$size-xxs rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    }
    &[elevation="none"]{
        box-shadow: none;
    }
}