@import "../variables";
.toggle-button {
    color: $color-primary-default;
    font-size:$font-size-s;
    background: none;
    border:0 none;
    cursor: pointer;
    &:hover {
        filter: brightness(80%) saturate(80%);
    }
}