@import "../variables";
.select__label {
    font-family: $button-font-family;
    font-size: $font-size-xs;
    font-weight: $button-font-weight;
    display: block;
    color: $font-color-default;
    opacity: .9;
    letter-spacing: .5px;
    margin-bottom:$size-xs;
}
squid-errors {            
    color: var(--color-alert-error,$color-alert-error);
}
.select__label--disabled {
    color: $color-neutral-50;
}

.select__wrapper {
    position: relative;
    width: 100%;
    .chevron-down {
        width: 15px;
        height: 15px;
        right: 1rem;
        top: calc(50% - 8px);
        overflow: hidden;
        position: absolute;
        color: var(--select-color-font,$font-color-default);
        &[hidden] {
            display: none;
        }
    }
}

.select__wrapper::after {
}

.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $color-white;
    background-color: var(--select-color-background,$color-white);
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px $color-neutral-40;
    border: 0 none;
    outline: 0;
    border-radius: $size-xs;
    font-family: $button-font-family;
    font-size: $font-size-default;
    line-height: 1.5em;
    font-weight: $font-weight-regular;
    padding: $space-inset-squish-m;
    display: block;
    width: 100%;
    color: var(--select-color-font,$font-color-default);
    option {
        background-color: var(--select-color-option-background,$color-white);
        color: var(--select-color-option-font,$font-color-default);
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select__input {
        box-shadow: 0 0 0 1px $color-neutral-40;
    }
}

.select__input::-ms-expand {
    display: none;
}

.select__input.select__input--error {
    box-shadow: inset 0 0 0 2px var(--color-alert-error,$color-alert-error);;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select__input.select__input--error {
        box-shadow: 0 0 0 2px var(--color-alert-error,$color-alert-error);;
    }
}

.select__input:focus {
    box-shadow: inset 0 0 0 2px $color-primary-default;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select__input:focus {
        box-shadow: 0 0 0 2px $color-primary-default;
    }
}

.select__input:hover {
    box-shadow: inset 0 0 0 2px $color-primary-default;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select__input:hover {
        box-shadow: 0 0 0 2px $color-primary-default;
    }
}

.select__input:disabled, .select__input:disabled:hover {
    background-color: $color-neutral-90;
    border: 1px solid $color-neutral-80;
    box-shadow: none;
    cursor: not-allowed;
    color: $font-color-default;
}

.select__helper {
    color: $color-neutral-10;
    display: block;
    font-size: $font-size-xs;
    margin-top:$size-s;
}

.select__helper--error {
    color: var(--color-alert-error,$color-alert-error);
    display: block;
    font-size: $font-size-xs;
    margin-top:$size-s;
}

:host {
    margin-bottom: 24px;
    position: relative;
    display: block;
}

.select__input.compact {
    font-size: $font-size-s;
    padding: 0 24px;
    min-height: 32px;
}