@import "../variables";
#container {
    label {
        color: var(--dark-gray,$color-base-gray-30);
        font-size: .75rem;
        opacity: .9;
        letter-spacing: .5px;
        margin-bottom: var(--padding-small,4px);
    }
    .input {
        display: flex;
        align-items: center;
        font-size: $size-medium;
        text-align: center;
        button {
            border: 1px solid black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &.disabled{
                background-color: $color-base-mute-70;
                cursor:not-allowed;
            }
            &:hover {
                border-color: royalblue;
            }
            &:focus {
                outline: $color-base-focus-ring auto 1px;
            }
            svg {
            }
        }
    }
}