@import "../variables";
#container {
    label {
        color: var(--font-color-default,$color-neutral-30);
        font-size: $font-size-xs;
        opacity: .9;
        letter-spacing: .5px;
        margin-bottom: $space-inset-xs;
    }
    .input {
        display: flex;
        align-items: center;
        font-size: $size-m;
        text-align: center;
        button {
            border: 1px solid $color-neutral-10;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &.disabled{
                background-color: $color-neutral-70;
                cursor:not-allowed;
            }
            &:hover {
                border-color: var(--color-primary-default,$color-primary-default);
            }
            &:focus {
                outline: $color-focus-ring auto 1px;
            }
            svg {
            }
        }
    }
}