@import '../variables';
.radiobutton--label {
    color: var (--font-color-default,$font-color-default);
    font-size: $size-m;
}

.radiobutton--input {
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.radiobutton--input:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: -3px;
}

.radiobutton--input:hover+.radiobutton--label::before, .radiobutton--input:focus+.radiobutton--label::before {
    border: 2px solid  var(--color-primary-default, $color-primary-default);
}

.radiobutton--input:checked+.radiobutton--label::before {
    border: $size-s solid  var(--color-primary-default, $color-primary-default);
}

.radiobutton--input:checked:hover+.radiobutton--label::before, .radiobutton--input:checked:focus+.radiobutton--label::before {
    filter: brightness(80%) saturate(80%);
}

.radiobutton--input:disabled+.radiobutton--label {
    color: $color-neutral-40;
}

.radiobutton--input:disabled+.radiobutton--label::before {
    background-color: $color-neutral-90;
    border: 1px solid $color-neutral-80;
}

.radiobutton--input:disabled:checked+.radiobutton--label {
    color: $color-neutral-40;
}

.radiobutton--input:disabled:checked+.radiobutton--label::before {
    border: $size-s solid $color-neutral-80;
}

.radiobutton--input+.radiobutton--label {
    display: inline-block;
    line-height: 24px;
    padding-left: 40px;
    position: relative;
}

.radiobutton--input+.radiobutton--label::before, .radiobutton--input+.radiobutton--label::after {
    content: "";
    display: inline-block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.radiobutton--input+.radiobutton--label::before {
    background: $color-white;
    border: 1px solid $color-neutral-30;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: $size-m;
}

.radiobutton--error+.radiobutton--label::before {
    border: $size-xxs solid $color-alert-error;
}

.radiobutton--helper {
    padding-left: 40px;
    color: $color-neutral-10;
    display: block;
    font-size: $font-size-s;
    margin-top: $size-m;
}

.radiobutton--helper--error {
    padding-left: 40px;
    color: $color-alert-error;
    display: block;
    font-size: $font-size-s;
    margin-top: $size-m;
}

:host {
    margin-bottom: 24px;
    position: relative;
    display: block;
}