@import '../variables';
:host {
    border: 0;
    outline: 0;
    padding: 0;
    margin-bottom: $size-l;
    display: block;
}

.fieldset {
    border: 0;
    outline: 0;
    padding: 0;
    margin-bottom: $size-l;
    margin-bottom: 0;
}

.fieldset__legend {
    font-size: 16px;
    line-height: 1.5em;
    font-weight:  $font-weight-semi;
    margin-bottom: 24px;
}

.fieldset__legend [class*="__helper--error"] {
    font-size: 12px;
    line-height: 1.5em;
    font-weight: $font-weight-regular;
    padding: 0;
    margin-top: $size-xs;
}

.fieldset .form-field:last-of-type {
    margin-bottom: 0;
}

.fieldset .form-field:last-of-type {
    margin-bottom: 0;
}