@import "../variables";
.checkbox__label {
    color:var(--checkbox-font-color-default,$font-color-default);
    font-size: $font-size-default;
    &+.checkbox__label{
        &:after {
            content: none;
        }
    }
}

.checkbox__input {
    left: -9999em;
    opacity: 1;
    position: absolute;
    &+.checkbox__label{
        &:after {
            content: "";
        }
    }
    &:hover {
        &+.checkbox__label {
            &::after {
                content: "";
            }
            &::before {
                border: 2px solid var(--color-primary-default, $color-primary-default);
            }
        }
    }
    &:focus {
        &+.checkbox__label {
            &::after {
                content: "";
            }
            &::before {
                border: 2px solid var(--color-primary-default, $color-primary-default);
            }
        }
    }
    &:disabled {
        &:checked {
            &+.checkbox__label {
                
                &::before {
                    background-color: $color-neutral-30;
                    border: 0;
                }
            }  
        }
       &+.checkbox__label {
            &::after {
                content: "";
                opacity: 1
            }
            &::before {
                background-color: $color-neutral-50;
                border: 1px solid $color-neutral-50
            }
        } 
    }
    &:checked {
        &+.checkbox__label {
            &::after {
                content: "";
                opacity: 1
            }
            &::before {
                border-color: var(--color-primary-default, $color-primary-default);
                background-color: var(--color-primary-default, $color-primary-default);
            }
        }
        &:hover{
            &+.checkbox__label {
                &::after {
                    content: "";
                    opacity: 1
                }
                &::before {
                    filter: brightness(120%) saturate(120%);
                }
            }  
        }
        &:focus{
            &+.checkbox__label {
                &::after {
                    content: "";
                    opacity: 1
                }
                &::before {
                    filter: brightness(120%) saturate(120%);
                }
            }  
        }
    }
}







.checkbox__input:indeterminate:disabled+.checkbox__label::before {
    background-color: $color-neutral-30;
    border: 0
}

.checkbox__input:indeterminate+.checkbox__label::before {
    border-color: $color-blue-40;
    background-color: $color-blue-40
}

.checkbox__input:indeterminate+.checkbox__label::after {
    background: url("data:image/svg+xml,%3Csvg width='10' height='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1h8' stroke='#fff' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round'/%3E%3C/svg>");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    opacity: 1;
    border: 0
}

.checkbox__input+.checkbox__label {
    display: inline-block;
    line-height: 24px;
    padding-left: 40px;
    position: relative
}

.checkbox__input+.checkbox__label::after {
    content: none
}

.checkbox__input+.checkbox__label::before,
.checkbox__input+.checkbox__label::after {
    content: "";
    display: inline-block;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px
}

.checkbox__input+.checkbox__label::before {
    background: $color-white;
    border: 1px solid $color-neutral-50;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 16px
}

.checkbox__input+.checkbox__label::after {
    background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05NCAtMzAwKSIgZmlsbD0iI2ZmZiI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoODggMjk0KSI+PHBvbHlnb24gcG9pbnRzPSIxNi40MzUgNiAxOCA3LjI1NyA5LjM3ODYgMTggNiAxMy41MTIgNy40MDM1IDExLjk0NyA5LjQwNjggMTQuODc4Ii8+PC9nPjwvZz48L2c+PC9zdmc+");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    opacity: 0
}

.checkbox__input--error+.checkbox__label::before {
    border: 2px solid $color-alert-error;
}

.checkbox__helper {
    padding-left: 40px;
    color: #273b49;
    display: block;
    font-size: 12px;
    margin-top: 8px
}

squid-helpers {
    padding-left: 40px;
    color:$color-alert-error;
    display: block;
    font-size: 12px;
    margin-top: 8px
}